@font-face {
  font-family: Acknowledge;
  src: url("../ttf/acknowledge/acknowtt.ttf");
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: Acknowledge;
  font-size: 35px;
  background: #222;
  color: white;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
}

#centered {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 2em;
  margin: 15px;
}

a {
  color: white;
  text-decoration: none;
}

p {
  font-size: 0.9em;
  padding: 5px 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

button:hover {
  cursor: pointer;
}

#about {
  margin: 150px 0;
}

#copy {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 100%;
  padding: 15px;
  background: black;
  color: gray;
  font-size: 0.5em;
  flex-shrink: 0;
}
